<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Class Gradebook</title>
    </head>
<body>
    <h3> Class Grades </h3>
<table class="table">
      <thead>
    <tr>
      <th scope="col">Grade ID</th>
      <th scope="col">Student ID</th>
      <th scope="col">Student Name</th>
      <th scope="col">Assignment Number</th>
      <th scope="col">Assignment title</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for grades in grades %}
    <tr>

      <th scope="row"> {{ grades.id }}</th>
      <td>{{ grades.studentid }}</td>
      <td>{{ grades.firstname }}</td>
      <td>{{ grades.assignmentid }}</td>
      <td>{{ grades.assignment }}</td>
      <td>{{ grades.grade }}</td>

    </tr>
    {% endfor %}

            <tr>
                <h4>Add New Grade</h4>
            <td><input>ID #</input></td>
            <td><input>First Name</input></td>
            <td><input>Last Name</input></td>
            <td><input>Major</input></td>
            <td><input>Email</input></td>
            <td><button type="button" class="btn btn-primary">Add Student</button></td>
</tr>
            <td><button type="button" class="btn btn-secondary">Remove Student</button></td>

        </tr>
    </tbody>

</body>
</html>