<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Class Gradebook</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gradebook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/">Student Roster <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/grades">Grades</a>
      </li>
      </div>
      </nav>
<body>
<h3>Class: IS 668 Enterprise Information Systems</h3>
<table class="table">
      <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Major</th>
      <th scope="col">Email</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for data in data %}
    <tr>

      <th scope="row"> {{ data.studentid }}</th>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.major }}</td>
      <td>{{ data.email }}</td>

      <td> <a href="{{ url_for('deletestudent', studentid = data.studentid) }}" style="margin-left: 10px;">Delete</a></td>
      <td><a href="{{ url_for('update', studentid = data.studentid) }}" style="margin-left: 10px;" >Update Student</a></td>

      <td> </td>

    </tr>
    {% endfor %}



    </tbody>
    </table>
<a class="btn btn-primary btn-sm" href="http://mygrade.pythonanywhere.com/newstudent" role="button">Add Student</a>



</body>
</html>