<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Class Gradebook</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gradebook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/">Student Roster <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/grades">Grades</a>
      </li>
      </div>
      </nav>
<body>

<form action="{{ request.path }}" role="form" method="POST">
<div class="container">
  <div class="form-group">
      <div class="col-sm">
         <label for = "studentid">Student Id</label><br>
         <input type = "Integer" name = "studentid" placeholder = "Enter ID" /><br>
    </div>
</div>
  <div class="form-group">
      <div class="col-sm">
         <label for = "firstname">First Name</label><br>
         <input type = "string" name = "firstname" placeholder = "Enter Name" /><br>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm">
         <label for = "lastname">Last Name</label><br>
         <input type = "string" name = "lastname" placeholder = "Enter Name" /><br>
    </div>
 </div>
  <div class="form-group">
      <div class="col-sm">
         <label for = "major">Student Major</label><br>
         <input type = "string" name = "major" placeholder = "Major" /><br>
  </div> </div>
  <div class="form-group">
      <div class="col-sm">
        <label for = "email">Student Email</label><br>
        <input type = "email" name = "email" placeholder = "Email" /><br>
  </div> </div>
  <button type="submit" class="btn btn-primary btn-sm" value="Submit">Add Student</button>
  </div>
</form>

</body>
</html>