<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Class Gradebook</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Gradebook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/">Student Roster <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://mygrade.pythonanywhere.com/grades">Grades</a>
      </li>
      </div>
      </nav>
<body>

  {% import "bootstrap/wtf.html" as wtf %}

{% block title %}


        <p><h5>Edit Student</h5></p>

{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">


                <p><em><h6>Please update this student</h6></em></p>

            <br/>
        <div class="container">
        <div class="col-sm">
            {{ wtf.quick_form(form) }}
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</body>
</html>




